<p-toast></p-toast>
<p-progressBar
  *ngIf="loading"
  mode="indeterminate"
  [style]="{ height: '6px' }"
></p-progressBar>
<p style="font-size: 200%" *ngIf="loading">Đang tải dữ liệu...</p>
<div class="card" *ngIf="!loading">
  <p-toolbar styleClass="mb-1 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Thêm"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        pTooltip="Thêm"
        tooltipPosition="bottom"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Tải lại"
        icon="pi pi-refresh"
        class="p-button-info mr-2"
        pTooltip="Tải lại"
        tooltipPosition="bottom"
        (click)="getHocSinhs()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success mr-2"
        label="Xuất Excel"
        pTooltip="Xuất file xlsx"
        tooltipPosition="bottom"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-pdf"
        (click)="exportPdf()"
        class="p-button-warning"
        label="Xuất PDF"
        pTooltip="Xuất file PDF"
        tooltipPosition="bottom"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="hocSinhs"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['maHocSinh', 'ho', 'ten']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="maHocSinh"
    currentPageReportTemplate="Hiển thị {first} đến {last} trong {totalRecords} mục"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h3 class="m-0">Danh sách học sinh</h3>
        <span class="ml-auto"> </span>
        <span class="p-input-icon-left ml-2">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Tìm kiếm..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="maHocSinh" style="min-width: 5rem">
          Mã học sinh <p-sortIcon field="maHocSinh"></p-sortIcon>
        </th>
        <th pSortableColumn="ho" style="min-width: 5rem">
          Họ <p-sortIcon field="ho"></p-sortIcon>
        </th>
        <th pSortableColumn="ten" style="min-width: 5rem">
          Tên <p-sortIcon field="ten"></p-sortIcon>
        </th>
        <th pSortableColumn="gioiTinh" style="min-width: 5rem">
          Giới tính<p-sortIcon field="gioiTinh"></p-sortIcon>
        </th>
        <th pSortableColumn="ngaySinh" style="min-width: 5rem">
          Ngày sinh<p-sortIcon field="ngaySinh"></p-sortIcon>
        </th>
        <th pSortableColumn="trangThaiHoc" style="min-width: 5rem">
          Trạng thái học sinh<p-sortIcon field="trangThaiHoc"></p-sortIcon>
        </th>
        <th pSortableColumn="ngayNhapHoc" style="min-width: 5rem">
          Ngày nhập học<p-sortIcon field="ngayNhapHoc"></p-sortIcon>
        </th>
        <th pSortableColumn="lopHoc" style="min-width: 5rem">
          Lớp học<p-sortIcon field="lopHoc"></p-sortIcon>
        </th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hocSinh>
      <tr>
        <td>{{ hocSinh.maHocSinh }}</td>
        <td>{{ hocSinh.ho }}</td>
        <td>{{ hocSinh.ten }}</td>
        <td>
          {{ hocSinh.gioiTinh?.tenGioiTinh }}
        </td>
        <td>{{ hocSinh.ngaySinh | date : "dd/MM/yyyy" }}</td>
        <td>{{ hocSinh.trangThaiHoc?.tenTrangThai }}</td>
        <td>{{ hocSinh.ngayNhapHoc | date : "dd/MM/yyyy" }}</td>
        <td>{{ hocSinh.lopHoc ? hocSinh.lopHoc?.tenLop : "" }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            pTooltip="Sửa"
            tooltipPosition="top"
            (click)="editHocSinh(hocSinh)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            pTooltip="Xóa"
            tooltipPosition="top"
            (click)="deleteHocSinh(hocSinh)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Tổng cộng có {{ hocSinhs ? hocSinhs.length : 0 }} mục.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="hocSinhDialog"
  [style]="{ width: '80%' }"
  header="{{ dialogHeader }}"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-fluid grid mt-4">
      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="maHocSinh"
            [(ngModel)]="hocSinh.maHocSinh"
            disabled
          />
          <label for="maHocSinh">Mã học sinh</label>
        </span>
      </div>

      <div class="field col-12 md:col-2">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="ho"
            [(ngModel)]="hocSinh.ho"
            required
            autofocus
          />
          <small class="p-error" *ngIf="submitted && !hocSinh.ho"
            >Họ không được để trống</small
          >
          <label for="ho" class="required-field">Họ</label>
        </span>
      </div>

      <div class="field col-12 md:col-1">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="ten"
            [(ngModel)]="hocSinh.ten"
            required
          />
          <small class="p-error" *ngIf="submitted && !hocSinh.ten"
            >Nhập tên</small
          >
          <label for="ten" class="required-field">Tên</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [options]="gioiTinhs"
            [(ngModel)]="selectedGioiTinh"
            optionLabel="tenGioiTinh"
            dataKey="maGioiTinh"
            placeholder="Chọn giới tính"
            appendTo="body"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="gioiTinh-item gioiTinh-item-value"
                *ngIf="selectedGioiTinh"
              >
                <div>{{ selectedGioiTinh.tenGioiTinh }}</div>
              </div>
            </ng-template>
            <ng-template let-gioiTinh pTemplate="item">
              <div class="gioiTinh-item">
                <div>{{ gioiTinh?.tenGioiTinh }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <small class="p-error" *ngIf="submitted && !hocSinh.maGioiTinh"
            >Vui lòng chọn giới tính</small
          >
          <label for="gioiTinh" class="required-field">Giới tính</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [options]="khoiLops"
            [(ngModel)]="selectedKhoiLop"
            optionLabel="tenKhoiLop"
            dataKey="maKhoiLop"
            placeholder="Chọn khối lớp"
            (onChange)="onKhoiLopChange($event.value)"
            appendTo="body"
            [showClear]="false"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="khoiLop-item khoiLop-item-value"
                *ngIf="selectedKhoiLop"
              >
                <div>{{ selectedKhoiLop.tenKhoiLop }}</div>
              </div>
            </ng-template>
            <ng-template let-khoiLop pTemplate="item">
              <div class="khoiLop-item">
                <div>{{ khoiLop?.tenKhoiLop }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <small class="p-error" *ngIf="submitted && !hocSinh.maKhoiLop"
            >Vui lòng chọn khối lớp</small
          >
          <label for="khoiLop" class="required-field">Khối lớp</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [options]="lopHocs"
            [(ngModel)]="selectedLopHoc"
            optionLabel="tenLop"
            [filter]="true"
            filterBy="tenLop"
            dataKey="maLop"
            (onChange)="onLopHocChange($event.value)"
            appendTo="body"
            [disabled]="!selectedKhoiLop"
            [showClear]="true"
            placeholder="Chọn lớp học"
          >
            <ng-template pTemplate="selectedItem">
              <div class="lopHoc-item lopHoc-item-value" *ngIf="selectedLopHoc">
                <div>{{ selectedLopHoc.tenLop }}</div>
              </div>
            </ng-template>
            <ng-template let-lopHoc pTemplate="item">
              <div class="lopHoc-item">
                <div>{{ lopHoc?.tenLop }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="lopHoc">Lớp học</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-calendar
            [(ngModel)]="_ngayNhapHoc"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            appendTo="body"
            [disabled]="true"
          ></p-calendar>
          <label for="ngayNhapHoc">Ngày nhập học</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [autoDisplayFirst]="false"
            [options]="trangThaiHocs"
            [(ngModel)]="selectedTrangThaiHoc"
            optionLabel="tenTrangThai"
            [autoDisplayFirst]="true"
            dataKey="maTrangThai"
            (onChange)="onTrangThaiHocChange($event.value)"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="trangThaiHoc-item trangThaiHoc-item-value"
                *ngIf="selectedTrangThaiHoc"
              >
                <div>{{ selectedTrangThaiHoc.tenTrangThai }}</div>
              </div>
            </ng-template>
            <ng-template let-trangThaiHoc pTemplate="item">
              <div class="trangThaiHoc-item">
                <div>{{ trangThaiHoc?.tenTrangThai }}</div>
              </div>
            </ng-template></p-dropdown
          >
          <label for="trangThaiHoc" class="required-field"
            >Trạng thái học</label
          >
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="lyDoNghiHoc"
            [(ngModel)]="hocSinh.lyDoNghiHoc"
          />
          <label for="lyDoNghiHoc">Lý do nghỉ học</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-calendar
            [(ngModel)]="_ngaySinh"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            appendTo="body"
            name="ngaySinh"
          ></p-calendar>
          <small class="p-error" *ngIf="submitted && !hocSinh.ngaySinh"
            >Vui lòng chọn ngày sinh</small
          >
          <label class="required-field" for="ngaySinh">Ngày sinh</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="noiSinh"
            [(ngModel)]="hocSinh.noiSinh"
            required
          />
          <label for="noiSinh">Nơi sinh</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [autoDisplayFirst]="false"
            [options]="danTocs"
            [(ngModel)]="selectedDanToc"
            optionLabel="tenDanToc"
            dataKey="maDanToc"
            (onChange)="onDanTocChange($event.value)"
          >
            <ng-template pTemplate="selectedItem">
              <div class="danToc-item danToc-item-value" *ngIf="selectedDanToc">
                <div>{{ selectedDanToc.tenDanToc }}</div>
              </div>
            </ng-template>
            <ng-template let-danToc pTemplate="item">
              <div class="danToc-item">
                <div>{{ danToc?.tenDanToc }}</div>
              </div>
            </ng-template></p-dropdown
          >
          <label for="danToc" class="required-field">Dân tộc</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [autoDisplayFirst]="false"
            [options]="tonGiaos"
            [(ngModel)]="selectedTonGiao"
            optionLabel="tenTonGiao"
            dataKey="maTonGiao"
            (onChange)="onTonGiaoChange($event.value)"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="tonGiao-item tonGiao-item-value"
                *ngIf="selectedTonGiao"
              >
                <div>{{ selectedTonGiao.tenTonGiao }}</div>
              </div>
            </ng-template>
            <ng-template let-tonGiao pTemplate="item">
              <div class="tonGiao-item">
                <div>{{ tonGiao?.tenTonGiao }}</div>
              </div>
            </ng-template></p-dropdown
          >
          <label for="tonGiao" class="required-field">Tôn giáo</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [autoDisplayFirst]="false"
            [options]="quocTichs"
            [(ngModel)]="selectedQuocTich"
            optionLabel="tenQuocGia"
            dataKey="maQuocGia"
            (onChange)="onQuocTichChange($event.value)"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="quocTich-item quocTich-item-value"
                *ngIf="selectedQuocTich"
              >
                <div>{{ selectedQuocTich.tenQuocGia }}</div>
              </div>
            </ng-template>
            <ng-template let-quocTich pTemplate="item">
              <div class="quocTich-item">
                <div>{{ quocTich?.tenQuocGia }}</div>
              </div>
            </ng-template></p-dropdown
          >
          <label for="quocTich" class="required-field">Quốc tịch</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <textarea
            id="ghiChu"
            rows="2"
            cols="30"
            pInputTextarea
            [(ngModel)]="hocSinh.ghiChu"
          ></textarea>
          <label for="ghiChu">Ghi Chú</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <textarea
            id="hoKhau"
            rows="2"
            cols="30"
            pInputTextarea
            [(ngModel)]="hocSinh.hoKhau"
          ></textarea>
          <label for="hoKhau">Hộ khẩu</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <textarea
            id="diaChi"
            rows="2"
            cols="30"
            pInputTextarea
            [(ngModel)]="hocSinh.diaChi"
          ></textarea>
          <label for="diaChi">Chỗ ở hiện nay</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-calendar
            [(ngModel)]="_ngayCapNhat"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            appendTo="body"
            [disabled]="true"
          ></p-calendar>
          <label for="ngayCapNhat">Ngày cập nhật</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="hoTenPhuHuynh"
            [(ngModel)]="hocSinh.hoTenPhuHuynh"
            required
          />
          <small class="p-error" *ngIf="submitted && !hocSinh.hoTenPhuHuynh"
            >Họ tên phụ huynh không được để trống</small
          >
          <label for="hoTenPhuHuynh" class="required-field"
            >Họ tên phụ huynh</label
          >
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <!-- <p-inputNumber
            [(ngModel)]="hocSinh.namSinhPhuHuynh"
            mode="decimal"
            inputId="namSinhPhuHuynh"
            [useGrouping]="false"
          >
          </p-inputNumber> -->
          <input
            type="number"
            pInputText
            id="namSinhPhuHuynh"
            [(ngModel)]="hocSinh.namSinhPhuHuynh"
          />
          <!-- <small
            class="p-error"
            *ngIf="submitted && hocSinh.namSinhPhuHuynh.length > 4"
            >Năm sinh không hợp lệ</small
          > -->
          <label for="namSinhPhuHuynh">Năm sinh phụ huynh</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="cmndPhuHuynh"
            [(ngModel)]="hocSinh.cmndPhuHuynh"
          />
          <label for="cmndPhuHuynh">CMND Phụ huynh</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="sdtPhuHuynh"
            [(ngModel)]="hocSinh.sdtPhuHuynh"
          />
          <label for="sdtPhuHuynh">SĐT phụ huynh</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="ngheNghiepPhuHuynh"
            [(ngModel)]="hocSinh.ngheNghiepPhuHuynh"
          />
          <label for="ngheNghiepPhuHuynh">Nghề nghiệp phụ huynh</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="emailPhuHuynh"
            [(ngModel)]="hocSinh.emailPhuHuynh"
          />
          <label for="emailPhuHuynh">Email phụ huynh</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="diaChiPhuHuynh"
            [(ngModel)]="hocSinh.diaChiPhuHuynh"
          />
          <label for="diaChiPhuHuynh">Địa chỉ phụ huynh</label>
        </span>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Hủy"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Lưu"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveHocSinh()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
