<p-toast></p-toast>
<p-progressBar
  *ngIf="loading"
  mode="indeterminate"
  [style]="{ height: '6px' }"
></p-progressBar>
<p style="font-size: 200%" *ngIf="loading">Đang tải dữ liệu...</p>
<div class="card" *ngIf="!loading">
  <p-toolbar styleClass="mb-1 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Thêm"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        pTooltip="Thêm"
        tooltipPosition="bottom"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Tải lại"
        icon="pi pi-refresh"
        class="p-button-primary mr-2"
        pTooltip="Tải lại"
        tooltipPosition="bottom"
        (click)="getChucVus()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success mr-2"
        label="Xuất Excel"
        pTooltip="Xuất Excel"
        tooltipPosition="bottom"
      ></button>

      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-pdf"
        (click)="exportPdf()"
        class="p-button-warning"
        label="Xuất PDF"
        pTooltip="Xuất PDF"
        tooltipPosition="bottom"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="chucVus"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['tenChucVu']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="maChucVu"
    currentPageReportTemplate="Hiển thị {first} đến {last} trong {totalRecords} mục"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between mt-3">
        <h3 class="m-0">Danh sách chức vụ</h3>
        <div class="flex">
          <span class="p-float-label mr-2">
            <p-dropdown
              inputId="filterLoaiNhanSu"
              [options]="loaiNhanSus"
              [(ngModel)]="filterSelectedLoaiNhanSu"
              optionLabel="tenLoaiNhanSu"
              placeholder="Chọn loại nhân sự"
              [showClear]="true"
              (onChange)="onFilterLoaiNhanSuChange($event.value)"
            ></p-dropdown>
            <label for="filterLoaiNhanSu">Loại nhân sự</label>
          </span>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Tìm kiếm..."
            />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="tenChucVu" style="min-width: 15rem">
          Tên chức vụ <p-sortIcon field="tenChucVu"></p-sortIcon>
        </th>
        <th pSortableColumn="loaiNhanSu.tenLoaiNhanSu" style="min-width: 10rem">
          Loại nhân sự
          <p-sortIcon field="loaiNhanSu.tenLoaiNhanSu"></p-sortIcon>
        </th>
        <th pSortableColumn="ghiChu" style="min-width: 10rem">
          Ghi Chú <p-sortIcon field="ghiChu"></p-sortIcon>
        </th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-chucVu>
      <tr>
        <td>{{ chucVu.tenChucVu }}</td>
        <td>{{ chucVu.loaiNhanSu?.tenLoaiNhanSu }}</td>
        <td>{{ chucVu.ghiChu }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            pTooltip="Sửa"
            tooltipPosition="top"
            (click)="editChucVu(chucVu)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            pTooltip="Xóa"
            tooltipPosition="top"
            (click)="deleteChucVu(chucVu)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Tổng cộng có {{ chucVus ? chucVus.length : 0 }} mục.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="chucVuDialog"
  [style]="{ width: '550px' }"
  header="{{ dialogHeader }}"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="tenChucVu" class="required-field">Tên chức vụ</label>
      <input
        type="text"
        pInputText
        id="tenChucVu"
        [(ngModel)]="chucVu.tenChucVu"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !chucVu.tenChucVu"
        >Tên chức vụ không được để trống</small
      >
    </div>
    <div class="field">
      <label for="loaiNhanSu" class="required-field">Loại nhân sự</label>
      <p-dropdown
        inputId="loaiNhanSu"
        [options]="loaiNhanSus"
        [(ngModel)]="selectedLoaiNhanSu"
        optionLabel="tenLoaiNhanSu"
        placeholder="Chọn loại nhân sự"
        (onChange)="onLoaiNhanSuChange($event.value)"
        dataKey="maLoaiNhanSu"
        appendTo="body"
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="loaiNhanSu-item loaiNhanSu-item-value"
            *ngIf="selectedLoaiNhanSu"
          >
            <div>{{ selectedLoaiNhanSu.tenLoaiNhanSu }}</div>
          </div>
        </ng-template>
        <ng-template let-loaiNhanSu pTemplate="item">
          <div class="loaiNhanSu-item">
            <div>{{ loaiNhanSu?.tenLoaiNhanSu }}</div>
          </div>
        </ng-template></p-dropdown
      >
      <small class="p-error" *ngIf="submitted && chucVu.maLoaiNhanSu === 0"
        >Chưa chọn loại nhân sự</small
      >
    </div>
    <div class="field">
      <label for="ghiChu">Ghi Chú</label>
      <textarea
        id="ghiChu"
        pInputTextarea
        [(ngModel)]="chucVu.ghiChu"
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Hủy"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
      pTooltip="Hủy"
      tooltipPosition="top"
    ></button>
    <button
      pButton
      pRipple
      label="Lưu"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveChucVu()"
      pTooltip="Lưu"
      tooltipPosition="top"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
