<p-toast></p-toast>
<p-progressBar
  *ngIf="loading"
  mode="indeterminate"
  [style]="{ height: '6px' }"
></p-progressBar>
<p style="font-size: 200%" *ngIf="loading">Đang tải dữ liệu...</p>
<div class="card" *ngIf="!loading">
  <p-toolbar styleClass="mb-1 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Thêm"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        pTooltip="Thêm"
        tooltipPosition="bottom"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Tải lại"
        icon="pi pi-refresh"
        class="p-button-primary mr-2"
        pTooltip="Tải lại"
        tooltipPosition="bottom"
        *ngIf="selectedNienHoc"
        (click)="getPhieuSoGiunsByNienHoc()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success mr-2"
        label="Xuất Excel"
        pTooltip="Xuất Excel"
        tooltipPosition="bottom"
      ></button>

      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-pdf"
        (click)="exportPdf()"
        class="p-button-warning"
        label="Xuất PDF"
        pTooltip="Xuất PDF"
        tooltipPosition="bottom"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="phieuSoGiuns"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['vaccine.tenVaccine', 'hocSinh.ho', 'hocSinh.ten']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="['maVaccine', 'maHocSinh', ngayTiem]"
    currentPageReportTemplate="Hiển thị {first} đến {last} trong {totalRecords} mục"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between mt-3">
        <h3 class="m-0">Danh sách phiếu sổ giun</h3>
        <div class="flex">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Tìm kiếm..."
            />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="dotSoGiun" style="min-width: 10rem">
          Đợt sổ giun <p-sortIcon field="dotSoGiun"></p-sortIcon>
        </th>
        <th pSortableColumn="maHocSinh" style="min-width: 10rem">
          Mã học sinh <p-sortIcon field="maHocSinh"></p-sortIcon>
        </th>
        <th pSortableColumn="hocSinh.ho" style="min-width: 10rem">
          Họ đệm
          <p-sortIcon field="hocSinh.ho"></p-sortIcon>
        </th>
        <th pSortableColumn="hocSinh.ten" style="min-width: 5rem">
          Tên <p-sortIcon field="hocSinh.ten"></p-sortIcon>
        </th>
        <th pSortableColumn="hocSinh.ngaySinh" style="min-width: 10rem">
          Ngày sinh <p-sortIcon field="hocSinh.ngaySinh"></p-sortIcon>
        </th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-phieuSoGiun>
      <tr>
        <td>{{ phieuSoGiun.dotSoGiun?.tenDotSoGiun }}</td>
        <td>{{ phieuSoGiun.maHocSinh }}</td>
        <td>{{ phieuSoGiun.hocSinh?.ho }}</td>
        <td>{{ phieuSoGiun.hocSinh?.ten }}</td>
        <td>{{ phieuSoGiun.hocSinh?.ngaySinh | date : "dd/MM/yyyy" }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            pTooltip="Sửa"
            tooltipPosition="top"
            (click)="editPhieuSoGiun(phieuSoGiun)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            pTooltip="Xóa"
            tooltipPosition="top"
            (click)="deletePhieuSoGiun(phieuSoGiun)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Tổng cộng có {{ phieuSoGiuns ? phieuSoGiuns.length : 0 }} mục.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="phieuSoGiunDialog"
  [style]="{ width: '75%' }"
  header="Chi tiết sổ giun"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-fluid grid mt-4">
      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [options]="dotSoGiuns"
            [(ngModel)]="selectedDotSoGiun"
            optionLabel="tenDotSoGiun"
            [filter]="true"
            filterBy="tenDotSoGiun"
            dataKey="maDotSoGiun"
            placeholder="Chọn đợt tiêm"
            (onChange)="onDotSoGiunChange($event.value)"
            appendTo="body"
            inputId="dotSoGiun"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="dotSoGiun-item dotSoGiun-item-value"
                *ngIf="selectedDotSoGiun"
              >
                <div>{{ selectedDotSoGiun.tenDotSoGiun }}</div>
              </div>
            </ng-template>
            <ng-template let-dotSoGiun pTemplate="item">
              <div class="dotSoGiun-item">
                <div>{{ dotSoGiun?.tenDotSoGiun }}</div>
              </div>
            </ng-template>
          </p-dropdown>

          <label for="dotSoGiun" class="required-field"> Đợt sổ giun</label>
          <small class="p-error" *ngIf="submitted && !phieuSoGiun.maDotSoGiun"
            >Chưa chọn đợt sổ giun</small
          >
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [options]="khoiLops"
            [(ngModel)]="selectedKhoiLop"
            optionLabel="tenKhoiLop"
            [filter]="true"
            filterBy="tenKhoiLop"
            dataKey="maKhoiLop"
            placeholder="Chọn khối lớp"
            (onChange)="onKhoiLopChange($event.value)"
            appendTo="body"
            [showClear]="true"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="khoiLop-item khoiLop-item-value"
                *ngIf="selectedKhoiLop"
              >
                <div>{{ selectedKhoiLop.tenKhoiLop }}</div>
              </div>
            </ng-template>
            <ng-template let-khoiLop pTemplate="item">
              <div class="khoiLop-item">
                <div>{{ khoiLop?.tenKhoiLop }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="khoiLop">Khối lớp</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <p-dropdown
            [options]="lopHocs"
            [(ngModel)]="selectedLopHoc"
            optionLabel="tenLop"
            [filter]="true"
            filterBy="tenLop"
            dataKey="maLop"
            (onChange)="onLopHocChange($event.value)"
            appendTo="body"
            [showClear]="true"
            placeholder="Chọn lớp học"
          >
            <ng-template pTemplate="selectedItem">
              <div class="lopHoc-item lopHoc-item-value" *ngIf="selectedLopHoc">
                <div>{{ selectedLopHoc.tenLop }}</div>
              </div>
            </ng-template>
            <ng-template let-lopHoc pTemplate="item">
              <div class="lopHoc-item">
                <div>{{ lopHoc?.tenLop }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="lopHoc">Lớp học</label>
        </span>
      </div>
    </div>

    <div class="card">
      <p-table
        #dt
        [value]="hocSinhs"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['maHocSinh', 'ho', 'ten']"
        [tableStyle]="{ 'min-width': '75%' }"
        [(selection)]="selectedHocSinhs"
        [rowHover]="true"
        dataKey="maHocSinh"
        currentPageReportTemplate="Hiển thị {first} đến {last} trong {totalRecords} mục"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h3 class="m-0">Danh sách học sinh</h3>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Tìm kiếm..."
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="lopHoc" style="min-width: 5rem">
              Lớp học <p-sortIcon field="lopHoc"></p-sortIcon>
            </th>
            <th pSortableColumn="maHocSinh" style="min-width: 5rem">
              Mã học sinh <p-sortIcon field="maHocSinh"></p-sortIcon>
            </th>
            <th pSortableColumn="ho" style="min-width: 5rem">
              Họ <p-sortIcon field="ho"></p-sortIcon>
            </th>
            <th pSortableColumn="ten" style="min-width: 5rem">
              Tên <p-sortIcon field="ten"></p-sortIcon>
            </th>
            <th pSortableColumn="gioiTinh" style="min-width: 5rem">
              Giới tính<p-sortIcon field="gioiTinh"></p-sortIcon>
            </th>
            <th pSortableColumn="ngaySinh" style="min-width: 5rem">
              Ngày sinh<p-sortIcon field="ngaySinh"></p-sortIcon>
            </th>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hocSinh>
          <tr>
            <td>{{ hocSinh.lopHoc ? hocSinh.lopHoc.tenLop : "" }}</td>
            <td>{{ hocSinh.maHocSinh }}</td>
            <td>{{ hocSinh.ho }}</td>
            <td>{{ hocSinh.ten }}</td>
            <td>
              {{ hocSinh.gioiTinh?.tenGioiTinh }}
            </td>
            <td>{{ hocSinh.ngaySinh | date : "dd/MM/yyyy" }}</td>
            <td>
              <p-tableCheckbox [value]="hocSinh"></p-tableCheckbox>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            Tổng cộng có {{ hocSinhs ? hocSinhs.length : 0 }} mục.
          </div>
        </ng-template>
      </p-table>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Hủy"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
      pTooltip="Hủy"
      tooltipPosition="top"
    ></button>
    <button
      pButton
      pRipple
      label="Lưu"
      icon="pi pi-check"
      class="p-button-text"
      (click)="savePhieuSoGiun()"
      pTooltip="Lưu"
      tooltipPosition="top"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
